
/*
*	GLOBAL HTML COMPONENTS
*/

body {
	overflow-y: scroll;
	
	margin: 0; 
	padding: 0; 
	
	font-size: 13px;
	line-height: 23px;
	font-family: sans-serif;
	color: #565656;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

p a,
p a:visited {
	border-bottom: 1px #565656 dotted;
	text-decoration: none;
}

h2 {
	margin-bottom: 32px;
	font-size: 25px;
	font-weight: lighter;
}

h3 {
	font-size: 19px;
	font-weight: lighter;
}

h4 {
	margin-bottom: 4px;
}

h4 > .created-at {
	margin-left: 13px;

	font-size: 13px;

	font-weight: lighter;
}

p {
	margin-top: 4px;
}

span.notification-positiv {
	display: block;
	color: #67A921;
}

span.notification-negativ {
	display: block;
	color: #E56952;
}

#wrapper {
	width: 1124px; 
	margin: auto;
}

#header {
	overflow: hidden; 
	height: 102px;
}

#content {
	margin-top: 23px;
	margin-bottom: 48px; 
	padding: 0 32px;
}

#options {
	margin-top: 32px;
}

#timesheet.timesheet {
	margin: 32px 0;
}

#timesheet.timesheet table {
	border: 0; 
	width: 100%; 

	font-size: 13px; 
	text-align: left;
}

#summaryWrapper {
	overflow: hidden;
	margin: 32px 0 64px;
}

/* -------------- */

a.option {
	font-size: 13px;
	font-weight: lighter;
	
	text-decoration: none;
	color: #c0c0c0;
	cursor: pointer;
}

a.option-active {
	font-size: 13px;
	font-weight: lighter;
	
	text-decoration: none;
	color: #505050;
}

.octicon {
	padding-left: 23px;
	
	cursor: pointer;
}

.octicon-text {
	padding-left: 23px;
	line-height: 15px;
	cursor: pointer;
}

.ajax-loader {
	margin: 23px 23px 0;
}

/* -------------- */

input.textfield {
	border: 1px solid #bbb; 
	
	width: 90%; 
	height: 21px; 
	padding: 2px 6px 3px; 
	
	font-size: 13px;
}

input.textfield-narrow {
	width: 420px;
}

button.button-submit,
input.button-submit {
	margin-top: 8px;
}

button.button-margin,
input.button-margin {
	margin-top: 23px;
}

button.button,
input.button {
	background: #f8f8f8;
	border: 1px solid #ccc;

	width: 80px;
	height: auto;
	padding: 4px;
}

button.post-delete {
	float: right;

	background: #f8f8f8;
	border: 1px solid #ccc;

	width: 21px;
	height: 21px;
}

textarea {
	border: 1px solid #bbb; 
	
	width: 90%; 
	height: 128px; 
	padding: 3px 6px; 
	
	font-size: inherit;
	font-family: inherit;
}

ul.list-inline {
	list-style-type: none; 
	
	margin: 0; 
	padding: 0; 

	font-size: 13px; 
}

ul.list-inline li {
	display: inline-block; 
	margin-right: 23px;
}

ul.list-inline-padded {
	margin: 13px;
}

ul.list-inline li .js-button, 
ul.list-inline-padded li .js-button {
	padding: 4px 13px;

	font-weight: lighter;
	color: #c0c0c0;
	cursor: pointer;
}

ul.list-inline-padded li .js-button-active {
	color: #565656;
}

tr.item {
	vertical-align: top;
}

tr.item td {
	padding: 4px 0;
}

.time-spent-quarter {
	display: inline-block;
	border: 1px #ccc solid;
	background-color: #fff;
	
	width: 8px;
	height: 18px;

	margin-top: 3px;

	cursor: pointer;
}

.time-spent-quarter-active {
	background-color: #006699;
}

.time-spent-blank {
	display: inline-block;
	background-color: #fff;
	
	width: 8px;
	height: 18px;
}

.tisheet-time-spent {
	padding-right: 13px;
}

.tisheet-total-time-spent {
}

div.summary-table {
	vertical-align: top; 
	width: 48%;
}
div.summary-table table {
	border: 1px #ccc solid; 
	
	width: 100%; 
	padding: 3px 13px; 
	
	text-align: left;
}

div.summary-table div.variable-background {
	background-color: #c0c0c0;
}
div.summary-table div.variable-background span {
	padding: 0 8px;
}

/* -------------- */

.element-hidden {
	display: none;
}

.element-invisible {
	visibility: hidden;
}

.element-float-left {
	float: left;
}

.element-float-right {
	float: right;
}
