/*
*	COLORS (picked from http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project)
*
*	timeline context background : #C9D4CD;
*	column background : #E1E2CD;
*	timespent quarter active background : #006699;
*/


/*
*	GLOBAL HTML COMPONENTS
*/

body {
	overflow-y: scroll;
	
	margin: 0; 
	padding: 0; 
	
	font-size: 13px;
	line-height: 23px;
	font-family: sans-serif;
	color: #565656;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	border-bottom: 1px #565656 dotted;
}

p a,
p a:visited {
	border-bottom: 1px #565656 dotted;
	text-decoration: none;
}

h2 { font-weight: lighter; vertical-align: top; }
h3 { margin-bottom: 8px; font-size: 19px; font-weight: lighter; }
h4 { margin-bottom: 4px; }

h4 > .created-at {
	margin-left: 13px;

	font-size: 13px;

	font-weight: lighter;
}

p {
	margin-top: 4px;
}

span.notification-positiv { display: block; color: #67A921; }
span.notification-negativ { display: block; color: #E56952; }

#header { background: #006699; box-shadow: 0px -3px 13px 3px }
#header h2 { margin: 6px 0 0 23px; }
#content { margin-bottom: 48px; }

.options { margin-top: 32px; }

#timesheet.timesheet table {
	border: 0; 
	width: 100%; 

	font-size: 13px; 
	text-align: left;
}

#timeline-today.timeline-today {
	height: 28px; 
	margin-top: 28px;
}
#timeline-today.timeline-today div {
	display: inline-block; 
	background: #c9d4cd; 
	border-radius: 0 13px 13px 0;
	
	margin-right: 13px;
	padding-right: 8px;
	cursor: pointer;
}
#timeline-today.timeline-today div span {
	padding: 0 4px 0 8px;
	white-space: nowrap;
}

/* -------------- Overwritten w3-classes */

.w3-container { padding: 0.01em 58px; }
@media screen and (max-width:993px) { .w3-container { padding: 0.01em 32px; } }

/* -------------- */

a.option {
	font-size: 13px;
	font-weight: lighter;
	
	text-decoration: none;
	color: #c0c0c0;
	cursor: pointer;
}

a.option-active {
	font-size: 13px;
	font-weight: lighter;
	
	text-decoration: none;
	color: #505050;
}

.octicon, .ionicons, .octicon-text {
	line-height: 30px;
	padding: 0 8px 0 3px;
	
	cursor: pointer;
}
.octicon-no-padding-left {
	padding-left: 0;
}
.octicon-lower-padding-left {
	padding-left: 12px;
}
.octicon-padding-right {
    padding-right: 6px;
}
.octicon-red {
	color: red;
}
.octicon-light {
	opacity: 0.5;
}
.octicon-active, .ionicons-active {
	opacity: 1;
	color: #006699;
}
.octicon-splitter {
	display: inline-block;
	border-bottom: 1px #ccc solid;
	width: 23px;
	margin: 0 0 18px 18px;
}

/* -------------- */

input.textfield {
	border: 1px solid #ddd; 
	
	width: 91%; 
	height: 23px; 
	
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

button.button-submit,
input.button-submit {
	margin-top: 8px;
}

button.button-margin,
input.button-margin {
	margin-top: 23px;
}

button.button,
input.button {
	background: #f8f8f8;
	border: 1px solid #ccc;

	width: 80px;
	height: auto;
	padding: 4px;
}

button.post-delete {
	float: right;

	background: #f8f8f8;
	border: 1px solid #ccc;

	width: 21px;
	height: 21px;
}

textarea {
	border: 1px solid #ddd; 
	
	min-height: 73px; 
	resize: none;
	overflow-y: hidden;
	
	line-height: 21px;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

div.timesheet-story {
	margin-top: 43px;
}
div.timesheet-story textarea {
	border: none;
	outline: none;
	overflow: hidden;

	padding: 0;
	width: 50%;
	height: 18px;
	min-height: 18px;

	resize: none;
}

ul.list-inline {
	list-style-type: none; 
	
	margin: 0; 
	padding: 0; 

	font-size: 13px; 
}

/* additional class to give more space */
ul.list-inline-padded {
	margin: 13px;
}

/* additional constraint for right-floated option list */
.options-right-oriented ul.list-inline li {
	display: inline-block; 
	
	margin-right: 0;
	margin-left: 23px;
	padding: 4px 13px;
}

ul.list-inline li {
	display: inline-block; 
	
	margin-right: 23px;
	padding: 4px 9px 4px 13px;
}

ul.list-inline li .js-button {
	font-weight: lighter;
	color: #c0c0c0;
	cursor: pointer;
}

ul.list-inline li .js-button-active {
	color: #565656;
}

div.tisheet { vertical-align: top; }
div.tisheet > div { position: relative; padding: 4px 0; }

span.tisheet-time-start, span.tisheet-time-spent { display: inline-block; margin-top: 6px; }
span.tisheet-time-start { font-weight: lighter; color: #ccc; }

div.tisheet > div input.textfield,
div.tisheet > div textarea.tisheet-note { width: 78%; padding-right: 28px; }

/* show trashcan at the right end of the tisheet input */
div.tisheet > div > span.octicon-trashcan { position: absolute; top: 4px; right: 102px; z-index: 20; opacity: 0.6; }
/* on hover of tisheet -> show all octicons (options) */
div.tisheet:hover > div > span.octicon:not(.cc-element-visible) { visibility: visible!important; }

span.time-spent-quarter { display: inline-block; border: 1px #ccc solid; background-color: #fff; width: 8px; height: 18px; margin-top: 6px; cursor: pointer; }
span.time-spent-quarter-active { background-color: #006699; }
span.time-spent-blank { display: inline-block; background-color: transparent; width: 8px; height: 18px; }

/* OBSOLETE? */
div.tisheet > div span.tisheet-error {
    position: absolute; 
    left: -100px; 
    background-color: #fff; 
    width: 85px; 
    text-align: right;
    color: #aaa;
    cursor: pointer;
}

div.summary-table table { vertical-align: top; border: 1px #ccc solid; padding: 3px 13px 8px; text-align: left; }
div.summary-table table th,
div.summary-table table td { padding: 8px 13px; }

div.summary-table div.variable-background { background-color: #c0c0c0; }
div.summary-table div.variable-background span { padding: 0 8px; white-space: nowrap; }

/* -------------- */

div#summary-same-as { margin-top: 32px; }
div#summary-same-as table { margin: 13px 8px 0; }
div#summary-same-as table tr { vertical-align: top; }
div#summary-same-as table tr td { border-top: 1px solid #ccc; padding: 8px 0; }

/* -------------- */

/* hover effects on columns */

/* display empty li.column on hover on div#columns */
div.columns:hover > ul > li.column.cc-element-invisible-toggable { visibility: visible!important; }
/* display color-palette on hover on li.column */
li.column:hover > div.column-item-color-palette { visibility: visible!important; }
/* display empty li.column-item on hover on li.column */
li.column:hover > ul > li.column-item.cc-element-invisible-toggable { visibility: visible!important; }
/* display spans on hover on li.column, but only for those li.column that are not li.js-column-empty */
li.column:not(.js-column-empty) div.column-label:hover > span { visibility: visible!important; }
/* display spans on hover on li.column-item, but only those li.column-item that are not li.js-column-item-empty */
li.column-item:not(.js-column-item-empty):hover > span { visibility: visible!important; }

/* other column classes */

div.columns ul { list-style-type: none; margin-top: 0; padding: 0; }

li.column {
    display: inline-block;
    background-color: #e1e2cd;
    box-shadow: 1px 1px 1px #bbb;
    width: 236px;
    padding: 0 1px 0px 10px;
    margin-top: 18px;
    margin-right: 13px;

    vertical-align: top;
}
li.column ul { padding-left: 0; }
li.column div.column-item-color-palette { margin-top: 8px; }
li.column div.column-item-color-palette span { display: inline-block; width: 13px; height: 13px; cursor: pointer; }

li.column-item { position: relative; z-index: 10; margin-top: 3px; }
li.column-item > div.column-item-options { border: 1px solid #ccc; background-color: #ecb; margin-bottom: 8px; padding: 0 8px; width: 90%; }

/* all spans within the column */
li.column > span,
li.column-item > span {
	position: absolute;
	top: 6px;
	right: 13px;
	z-index: 20;
	opacity: 0.6;
}
/* emphasize trashcan on hover -> all spans with the column */
li.column span.octicon-trashcan:hover {
	opacity: 1;
}

div.column-label input,
textarea.column-item-label {
	border: none;
	box-shadow: 0 0 1px;
	resize: none;
	overflow-y: hidden;

	width: 84%;
	height: 43px;
	padding: 4px 23px 0 8px;

	font-family: inherit;
	color: #525252;
}
textarea.column-item-label {
    min-height: 18px;
}
textarea.column-item-label-important {
	border-right: 3px solid #f05;
}

div.column-label {
	position: relative;
}
div.column-label input {
	background-color: #e1e2cd;
	box-shadow: none;
	margin: 6px 0 4px;
	padding: 3px 8px;
	width: 82%;
	height: 22px;
	font-weight: 600;
	font-size: inherit;
}
div.column-label > span {
	top: 12px;
	right: 13px;
	z-index: 20;
	opacity: 0.6;
}

/* -------------- */

div.button-group {
	display: block;
	margin: 13px 0;
}
div.button-group button {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;

	margin: 3px;
	padding: 6px 13px;
	color: #565656;
}
div.button-group button:focus {
	outline: 0;
}
div.button-group button.button-active {
	background: #006699;
	color: #fff;
}

/* -------------- */

/*  */
.element-float-left { float: left; }

.element-float-right { float: right; }

/* -------------- */

.ui-autocomplete {
	background: #fafafa;
	border: 1px solid #ccc;

	max-width: 575px;
	max-height: 128px;
    
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-autocomplete a,
 {
	border: 0;
 }
.ui-menu .ui-menu-item a.ui-state-focus {
	background: #e0e0e0;
	border: 0;
	margin: 0;
}

/* --------------- */
.ts-margin-top-18 { margin-top: 18px; }
.ts-margin-top-23 { margin-top: 23px; }

@media screen and (max-width:993px) { .ts-left-align-middle { text-align: left!important } }

.cc-margin-top-little { margin-top: 8px; }

.cc-keep-clear-little { margin: 4px 6px; }
.cc-keep-clear { margin: 8px 10px; }
span.cc-keep-clear-little { display: inline-block; }

.cc-keep-clear-content-little { padding: 4px 8px; }
.cc-keep-clear-content { padding: 8px 10px; }
.cc-keep-clear-content-more { padding: 13px 18px; }

/* hide an element */
.cc-element-hidden, .cc-element-hidden-toggable { display: none!important; }
/* hide an element, but preserve the space on display */
.cc-element-invisible, .cc-element-invisible-toggable, .cc-element-toggable { visibility: hidden!important; }
/* show an element */
.cc-element-visible { visibility: visible!important; }